<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <style>
        body { font-family: sans-serif; max-width: 50em; margin: auto; line-height: 1.5; }
        .navbar { background-color: #333; overflow: hidden; }
        .navbar a { float: left; display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; }
        .navbar a:hover { background-color: #ddd; color: black; }
        .img { max-width: 100%; }
    </style>
  </head>
  <body>
    <div class="navbar">
      <a href="/kotlin-skeleton/">README</a>
      <a href="/kotlin-skeleton/changeset">Commits</a>
    </div>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
